global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'user-service'
    static_configs:
      - targets: ['localhost:8080']
        labels:
          service: 'user-service'

  - job_name: 'vehicle-service'
    static_configs:
      - targets: ['localhost:8081']
        labels:
          service: 'vehicle-service'
